.vaadin-vertical-layout {
    width: 240px;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.body {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 50px;
    max-width: 1000px;
    overflow: hidden;
}

.transactions-grid {
    width: 900px;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    display: inline-block;
    width: 200px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    height: 55px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    justify-content: center;
    text-decoration: none;
}

.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.logout-btn-hover {
    display: inline-block;
    width: 200px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    height: 55px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    justify-content: center;
    text-decoration: none;
}

.logout-btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.logout-btn-hover:focus {
    outline: none;
}


.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.btn-hover:focus {
    outline: none;
}

.logout-btn-hover.color-5 {
    background-image: linear-gradient(to right, #bb3131, #ff7f7f, #e75b5b, #af3838);
    box-shadow: 0 4px 15px 0 rgba(255, 128, 128, 0.75);
}

.History {
    text-align: center;
    text-decoration: none;
}

.Profile {
    text-align: center;
    text-decoration: none;
    margin-top: 20%;
}

.Notifications {
    text-decoration: none;
}

.logo {
    margin-top: 10%;
}

.header {
    font-size : 30px;

}

.notification-icon {
    width: 40px;
    height: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.transaction-btn {
    background-color: hsl(99, 86%, 64%);
    color: white;
}

.transaction-btn:hover {
    cursor: pointer;
    background-color: hsl(100, 69%, 35%);
    color: white;
}

.toggle {
    color: hsl(99, 86%, 64%);
}

.toggle:hover {
    cursor: pointer;
    color: hsl(100, 69%, 35%);
}

.delete {
    color: hsl(0, 74%, 63%);
}

.delete:hover {
    cursor: pointer;
    color: hsl(0, 74%, 33%);
}

.field:focus-within::part(label) {
    color: hsl(99, 86%, 64%);
}

.notifications-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}